@using SeatGeek.Services.Data.Interfaces
@using SeatGeek.Web.Infrastructure.Extensions
@inject IAgentService AgentService

@inject IAgentService AgentService
@{
    bool isUserAgent =await AgentService.AgentExistsByUserIdAsync(this.User.GetId());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeatGeek.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/SeatGeek.Web.styles.css" asp-append-version="true" /> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <partial name="_NotificationPartial" />
    <header style="font-family: Verdana">
        <nav class="navbar navbar-expand-sm box-shadow ">
            <div class="container-fluid">
                <a class=" navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">SeatGeek</a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center offset-1">
                    <ul class="navbar-nav items">
                        @if (this.User.Identity?.IsAuthenticated ?? false)
                        {

                            @if (!isUserAgent)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white link-opacity-10-hover" asp-area="" asp-controller="Agent" asp-action="Become">Become</a>
                                </li>
                              
                            }
                      
                        }
                      
                        <li class="nav-item">
                            <a class="nav-link text-white " asp-area="" asp-controller="Event" asp-action="All">All Events</a>
                        </li>
                        
                        @if (this.User.Identity?.IsAuthenticated ?? false)
                        {
                           
                            <li class="nav-item">
                                <a class="nav-link text-white " asp-area="" asp-controller="Ticket" asp-action="Mine">My Tickets</a>
                            </li>
                            @if(isUserAgent)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white " asp-area="" asp-controller="Event" asp-action="Mine">My Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white " asp-area="" asp-controller="Event" asp-action="Add">Add Event</a>
                                </li>
                                
                            }
                           
                        }
                    </ul>
                    
                   
                </div>
               
            </div>
            <partial name="_LoginPartial" />
        </nav>
        
    </header>




  

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  

    <footer class="border-top footer text-muted" style="background-image:url('/images/lila.jpg'); background-size: cover">
        <div class="container-footer row ">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
