@model List<EventAllViewModel>
@{
    ViewData["Title"] = "My Events";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any events yet!</h2>
}
else
{
    <div class="row">
        @foreach (EventAllViewModel eventModel in Model)
        {
            <partial name="_EventPartial" model="eventModel" />
        }
    </div>
}